

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <link href="sticky-footer-navbar.css" rel="stylesheet">

</head>

<body style="background-image: url('images/gravel.png')">

    <div class="row bg-white border-bottom border-primary" id="header row">
        <div class="col-2" id="left container">

        </div>
        <div class="col-8 " id="center container">
            <nav class="navbar">

                <div class="p-3 mb-2 bg-info text-white text-center">Nick Vennarucci</div>

                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="col-2" id="right container">

        </div>
    </div>

    <div class="row mt-3" id="main-row">

        <div class="col-2" id="left container">

        </div>
        <div class="col-8 bg-white" id="center container">
            <div class="h5 mb-5 p-3 border-bottom 5">
                About me: 
            </div>
            <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="https://github.com/nickvenn">GitHub</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://www.linkedin.com/in/nicholas-vennarucci">Linkedin</a>
                    </li>
                  </ul>
            <img src="../images/MyPic.jpg" class="float-left mr-3" style="width: 100px; height: 100px;">

            <p>
                Hello, my name is Nick Vennarucci. I am a studying to become a full stack web developer. I have enjoyed
                working on and building computers from a youong age and have always found web development and
                intriguing field. I also enjoy outdoor activities like hiking and playing soccer. I am due to graduate
                from the UW coding bootcamp this upcoming spring and I hope to land myself either a full time job or
                internship in a related field.
            </p>
            <p>
                This is a very basic portfolio and has nothing interesting for anyone to see. I plan on making it much
                fancier in hopes of impresing a potential employer.
            </p>

        </div>
        <div class="col-2" id="right container">

        </div>

    </div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
            <a class="navbar-brand" href="#">Copyright Nick Vennarucci</a>
          </nav>


</body>