

<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>

<body style="background-image: url('images/gravel.png')">

    <div class="row bg-white border-bottom border-primary" id="header row">
        <div class="col-2" id="left container">

        </div>
        <div class="col-8 " id="center container">
            <nav class="navbar">

                <div class="p-3 mb-2 bg-info text-white text-center">Nick Vennarucci</div>

                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="col-2" id="right container">

        </div>
    </div>

    <div class="row mt-3" id="main-row">

            <div class="col-2" id="left container">
    
            </div>
            <div class="col-8 bg-white" id="center container">
                <div class="h5 mb-5 p-3 border-bottom 1">
                    Portfolio
                </div>

                <div class="card-group">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Train Schedule App</h5>
                        <p class="card-text">This app allows users to create and store train schedules using firebase.</p>
                        <a href="https://nickvenn.github.io/TrainSchedule/TrainSchedule.html" class="btn btn-primary">Github Page</a>
                        <a href="https://github.com/nickvenn/TrainSchedule.git" class="btn btn-primary">Github Repo</a>

                    </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Seattle Movie Theatre App</h5>
                        <p class="card-text">This app displays movie theatres in Seattle and restaurants in the area.</p>
                        <a href="https://nickvenn.github.io/MovieTheatre/index.html" class="btn btn-primary">Github Page</a>
                        <a href="https://github.com/nickvenn/MovieTheatre.git" class="btn btn-primary">Github Repo</a>

                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Liri Node App</h5>
                        <p class="card-text">This is a node application that allows users to querie several apis and logs the output into a text file.</p>
                        <a href="https://github.com/nickvenn/liri-node-app.git" class="btn btn-primary">Github repo</a>
                      </div>
                    </div>
                  </div>





            </div>
            <div class="col-2" id="right container">
    
            </div>
    
        </div>
        <nav class="navbar fixed-bottom navbar-light bg-light">
                <a class="navbar-brand" href="#">Copyright Nick Vennarucci</a>
              </nav>



</body>
